body {
  background-color: lavender;
  font-family: "APHont", Arial, sans-serif;
  color: darkmagenta;
}
h1 {
  color: darkviolet;
  text-align: center;
}

h3 {
  color: indigo;
  text-align: center;
}

p {
  color: darkslateblue;
  text-align: justify;
}

.more-content {
  ;
}

#something-else {
  text-align: center;
  font-style: italic;
}
